
@font-face {
    font-family: Sans-formal;
    src: url(./fonts/AppleTea-z8R1a.ttf);
}



img{height: 500; width: 400;}
h1{text-transform: capitalize;
    color: antiquewhite;
    font-family: "Signika", sans-serif;
    font-size: 35px;
    background-color: rgb(255, 97, 97);
}


h1 span{
    color: rgb(109, 30, 30);
    background-color: rgb(255, 97, 97);}



.designation{
    
    color: azure;
    background-color: rgb(255, 97, 97);
    font-family: "Winky Sans", sans-serif;
    font-size: 18px;
    font-weight: 30;
}

#color-problem{color: #424242;}

h2{text-transform: uppercase;
    color: #ee7676;
    text-decoration: underline;
    font-family: Sans-formal;
    font-size: 27px;
    font-weight: lighter;
}

#subcategory{font-size: 20px;
    font-weight: 100;}

p{color: #535353;
font-family: "Winky Sans", sans-serif;
font-size: medium;
font-weight: 500;
}

h4{color: #424242;
    font-family: "Winky Sans", sans-serif;
    font-size: 18;
    font-weight: 600;
}

#light{color: #979595;}

ul{color: #424242;
    font-family: "Winky Sans", sans-serif;
    font-size: 18;
    font-weight: 600;
}

